.field {
  $this: &;

  margin-bottom: 1rem;

  &-label {
    font-weight: $weight-medium;
    display: block;
    margin-bottom: .25rem;
  }

  &-help {
    font-size: 70%;
    margin-top: .25rem;
    color: $input-help-color;
  }

  @each $name, $schema in $color-schema {
    &.is-#{$name} {
      #{$this}-help {
        color: map-get($schema, 'background');
      }
    }
  }
}
